<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt">
<#if package?? && package != "">
package ${package};

</#if>
import org.springframework.stereotype.Component;

/**
 *
 * @author ${user}
 */
@Component
public class ${name} {

}
