<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt">
<#if package?? && package != "">
package ${package};

</#if>
import java.io.Serializable;
import org.springframework.data.repository.Repository;

/**
 *
 * @author ${user}
 */
public interface ${name} extends Repository<Object, Serializable> {

}
