<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt">
<#if package?? && package != "">
package ${package};

</#if>
import org.springframework.web.bind.annotation.RestController;

/**
 *
 * @author ${user}
 */
@RestController
public class ${name} {

}
