<#assign licensePrefix = "# ">
<#include "../Licenses/license-${project.license}.txt">

# show sql statements issued by JPA
#spring.jpa.show-sql=true

# enable debug logging for spring boot classes, this is equivalent to passing '--debug' as command line argument
#logging.level.org.springframework.boot=DEBUG

# log to file (absolute/relative path of log file)
#logging.file=path/to/log/file.log